@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #476072;
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  form {
    display: flex;
    justify-content: center;
  }
  
  input {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid #333;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 3rem;
  }
  
  .special {
    margin-top: 2rem;
    font-size: 2rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .special i {
    font-size: 1rem;
    cursor: pointer;
  }
  .special.hidden {
    opacity: 0;
    visibility: hidden;
  }
  